h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    color: teal;
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: teal;
    margin-left: 30px;
    margin-top: 40px;
}
footer{
    border-top: teal;
    border-width: 10px;
    background-color: darkgray;

}
body{
    background-color: silver;
}
.table-striped{
    background-color: blanchedalmond;
}
.navbar{
    background-color: white;
    height: 70px;

}
.main-box-set{
    background-color: white;
    padding: 20px;
    width: 700px;
    height: 500px;
    align-content: center;
    margin-left: -80px;
    margin-top: 40px;
}
.box-set{
    background-color: white;
    margin-top: 40px;
}

/*visualizations boxes*/
#visualizations{
    width: 550px;
    height: 480px;
    margin-left: -100px;
    margin-top: 40px;
}
/*box containing table*/
#data-box{
    position: relative;
    width: 1200px;
    padding: 10px;
    margin-left: 0px;
}

/*navbar latitude link*/
#latitude{
    background-color: teal;
    color: white;
    font-size: 22px;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px;
    position: absolute;
}

/*navbar plot button*/
#dropdownMenuLink{
    position: fixed;
    right: 200px;
    top: 20px;
    color: darkgrey;
    background-color: white;
    border: hidden;
}
.dropdown-menu{
    position: fixed;
    right: 200px;
    top: 65px;
    left: 810px;
}

/*navbar comparisons and data links*/
#nav-links-comparisons{
    color: darkgrey;
    position: fixed;
    right: 100px;
    top: 25px;
}
#nav-links-data{
    color: darkgrey;
    position: fixed;
    top: 25px;
    right: 50px;
}

/*images on each plot page*/
.individual-image{
    width: 400px;
    height: 300px;
    float: left;
    margin: 10px;
}

/*example image on landing page*/
#landing-image{
    width: 50%;
    float: left;
    margin: 10px;
}

/*visualizations links/images*/
#vis-temp{
    width: 250px;
    height: 200px;
    margin-top: 0px;
    margin-right: 0px;
    
}
#vis-humid{
    width: 250px;
    height: 200px;
    margin-bottom: 0px;
    margin-left: 0px;
}
#vis-clouds{
    width: 250px;
    height: 200px;
    margin-left: 0px;
    margin-top: 0px;
}
#vis-wind{
    width: 250px;
    height: 200px;
    margin-bottom: 0px;
    margin-right: 0px;
}

/*comparisons links/images/box*/
#compare{
    width: 1200px;
    margin-left: -40px;
    padding: 30px;
}

#compare-temp{
    width: 550px;
    height: 450px;
}
#compare-humid{
    width: 550px;
    height: 450px;
}
#compare-clouds{
    width: 550px;
    height: 450px;
}
#compare-wind{
    width: 550px;
    height: 450px;
}

/*title over comparisons images*/
h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: teal;
}

/*subtitle in comparisons*/
h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: teal;
    margin-left: 30px;
}


